body {
    font-family: 'Inter', sans-serif;
    background-color: #1a202c; /* Dark background color */
    color: #f7fafc; /* Light text color */
}

canvas {
    max-width: 100%;
    height: auto;
    background-color: #2d3748; /* Darker background for canvas */
    border-color: #4a5568; /* Dark border color */
}

#main {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

input[type="file"] + label {
    background-color: #3182ce; /* Blue background for button */
    color: #f7fafc; /* Light text color for button */
}

input[type="file"] + label:hover {
    background-color: #2b6cb0; /* Darker blue for hover effect */
}

.button-like {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #2d3748;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    user-select: none; /* Prevent text selection */
}

.button-like:hover {
    background-color: #2b6cb0; /* Darker blue on hover */
}

.button-like:active {
    background-color: #1f1f1f; /* Even darker blue on click */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-like:focus {
    outline: none;
}

@font-face {
  font-family: '0xProto Nerd Font Mono';
  src: url('/fonts/0xProtoNerdFontMono.woff2') format('woff2'),
       url('/fonts/0xProtoNerdFontMono.woff') format('woff'),
       url('/fonts/0xProtoNerdFontMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: '0xProto Nerd Font Mono', monospace;
}
